body{
    background-color:cadetblue;
}

.ex1{
    display: flex;
    background-color: coral;
    gap: 10px;
}

.ex1 div {
    background-color:aqua ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.ex2{
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    gap: 10px;
}

.ex2 div {
background-color:rgb(210, 229, 5) ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex3{
    display: flex;
    flex-direction: row-reverse;
    background-color: blueviolet;
    gap: 10px;
}

.ex3 div {
background-color:rgb(210, 229, 5) ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex4{
    display: flex;
    flex-direction: column column-reverse;
    background-color: blueviolet;
    gap: 10px;
}

.ex4 div {
background-color:rgb(210, 229, 5) ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex5{
    display: flex;
    flex-direction: row;
    background-color: brown;
    gap: 10px;
}

.ex5 div {
background-color:rgb(210, 229, 5) ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex6{
    display: flex;
    flex-wrap:wrap;
    background-color: brown;
    gap: 10px;
}

.ex6 div {
background-color:rgb(210, 229, 5) ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex7{
    display: flex;
    flex-wrap:wrap-reverse;
    background-color: brown;
    gap: 10px;
}

.ex7 div {
background-color:rgb(210, 229, 5) ;
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}