body{
    background-color: chocolate;
}

.ex1{
    background-color: blueviolet;
    border: 3px solid black;
    outline-style: solid;
    outline-width: 10px;
    outline-color: crimson;
    width: 400px;
    margin: 30px auto;
    border: 3px solid black;
    background-color: lightcoral;
}