@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: aliceblue;
}

.ex1 {
    font-family: 'Courier New', Courier, monospace;
}

.ex2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ex3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ex4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.ex5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ex6 {
    font-family: 'Times New Roman', Times, serif;
}

.ex7 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ex8 {
    font-family: Arial, Helvetica, sans-serif;
}

.ex9 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ex10 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ex11 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ex12 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ex-google-fonte {
    font-family: "Playwrite CU", cursive;
}