body {
    background-color: rgb(0, 73, 109);
    color: white;
}

.ex1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: cornflowerblue;
}

.ex2 {
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: cadetblue;
}

.ex3 {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: rgb(12, 255, 255);
}