body {
    background-color: cornflowerblue;
}

.icone-reddit {
    font-size: 100px;
}

.icone-youtube {
    font-size: 100px;
    color: rgb(21, 58, 117);
}

.icone-linkedin {
    font-size: 100px;
    color: azure;
}




