body {
    background-color: cadetblue;
}

.ex1 {

    border: 3px solid black;
    background-color: aquamarine;
    outline-style: solid;
    outline-width: 10px;
    outline-color: darkcyan;
    width: 400px;
    margin: 30px auto;
    outline-offset: 10px;

}