body {
    background-color: rgb(220, 20, 60);
    justify-items: center;
    /*opacity: 0.5;*/
}

h1 {
    background-color: rgb(255, 165, 0);
    color: aqua;
        border: 6px solid white;
            /*opacity: 0.5;*/

}

h2{
    background-color: rgb(184, 134, 11);
    color: blueviolet;
        border: 4px solid white;
            /*opacity: 0.5;*/

}

p{
background-color: rgb(255, 99, 71);
color: aquamarine;
    border: 3px solid white;
        /*opacity: 0.5;*/

}