body{
    background-color: burlywood;
}

.ex1{border: 6px solid white;
}

.ex2{
border: 6px medium white;
}

.ex3{
    border: 6px dotted olive;
}

.ex4{
    border:  dotted olive;
    width: thick;
}

.ex5{
    border: solid;
    border-width: 20px 10px;
    border-color: blue orange pink red;
}

.ex6{
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style:double ;
    border-left-style: double;
}

.ex7{
    border: 6px solid #f8a;
    border-radius: 20px;
}