body{
    background-color: cornflowerblue;
}

.ex1{
    background-color: bisque;
    width: 400px;
    margin: 0 auto;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-left: 10px;
}
